{% extends 'main/base/base.html' %}
{% load i18n %}

{% block author %}TEST{% endblock %}
{% block description %}TEST{% endblock %}
{% block keywords %}TEST{% endblock %}
{% block title %}{% trans "TEST" %}{% endblock %}

{% block main_content %}
    <h2 class='title_grey'>{% trans "Trabajadores" %}</h2>
    <hr>
    <h2 class='left'>{% blocktrans with site.name as web%}{{ web }} es la empresa líder en búsqueda de empleo online en {{ country }}.{% endblocktrans %}</h2>
    <h2 class='left' >{% blocktrans %}Regístrate con nosotros y encuentra las mejores ofertas de empleo en {{ country }}. Te llevará menos de un minuto.{% endblocktrans %}</h2>
    {% if not user.is_authenticated %}
    <div id='signup' style='margin-top: 5vh;'>
        <button class='signup_button fade_open'>{% trans "Regístrate" %}</button>
    </div>
    {% else %}
    <h3 class='button'><a class='button_link' href='{% url "positions" %}'>{% trans "Ver ofertas de empleo" %}</a></h3>
    {% endif %}
{% endblock %}
