{% extends "main/base/base.html" %}

{% load i18n %}

{% block title %}{% trans "Error de inicio de sesión" %}{% endblock %}

{% block main_content %}
<h2 class='title_grey'>{% trans "Error de inicio de sesión" %}</h2>
<hr>

<h5>{% trans "Ocurrió un error al iniciar sesión con tu cuenta de red social." %}</h5>
{% endblock %}
