{% extends "main/base/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "TEST - Cerrar sesión" %}{% endblock %}

{% block main_content %}
<h2 class='title_grey'>{% trans "Cerrar sesión" %}</h2>
<hr>

<p><h5>{% trans 'Confirma si quieres cerrar sesión.' %}</h5></p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit">{% trans 'Cerrar sesión' %}</button>
</form>


{% endblock %}
