{% load i18n %}

<ul id='full_header_menu'>
    <li class='header_logo'>
        <a href='/' title='{% trans "DameJobs" %}'>
            <img src='{{ STATIC_URL }}img/logos/logo_header.png' alt='{% trans "DameJobs" %}' />
        </a>
    </li>
    {% if user.is_authenticated %}
    <li>
        <form class="search_form" method='POST' action='{% url "positions" %}'>
            {% csrf_token %}
            <input type="text" id="search" name='search' placeholder='{% trans "Buscar ofertas de trabajo..." %}' required>
            <input type="submit" value="" id="submit">
        </form>
    </li>
    <li>
        <form id='logout_form' method='POST' action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
            {% endif %}
        </form>
        <a id='logout_button' class='header_link' href='#'>{% trans "Salir" %}</a>
    </li>
    {% else %}
    <li>
        <a class='header_link fade_open' href='#'>{% trans "Entrar" %}</a>
    </li>
    <li>
        <a class='header_link' href='{% url "companies" %}'>{% trans "Empresas" %}</a>
    </li>
    <li>
        <a class='header_link' href='{% url "candidates" %}'>{% trans "Trabajadores" %}</a>
    </li>
    {% endif %}
</ul>

<ul id='mobile_header_menu'>
    <li class='header_logo'>
        <a href='/' title='{% trans "DameJobs" %}'>
            <img src='{{ STATIC_URL }}img/logos/logo_header_mobile.png' alt='{% trans "DameJobs" %}' />
        </a>
    </li>
    {% if user.is_authenticated %}
    <li>
        <form class="search_form" method='POST' action='{% url "positions" %}'>
            {% csrf_token %}
            <input type="text" id="search" name='search' placeholder='{% trans "Buscar ofertas de trabajo..." %}' required>
            <input type="submit" value="" id="submit">
        </form>
    </li>
    <li>
        <form id='logout_form_mobile' method='POST' action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
            {% endif %}
        </form>
        <a id='logout_button_mobile' class='header_link' href='#'>{% trans "Salir" %}</a>
    </li>
    {% else %}
    <li>
        <span id='dropdown' class='header_link float_right'></span>
        <div>
            <ul id='menu'>
                <li><a class='header_link fade_open' href='#'>{% trans "Entrar" %}</a></li>
                <li><a class='header_link' href='/companies'>{% trans "Empresas" %}</a></li>
                <li><a class='header_link' href='#'>{% trans "Trabajadores" %}</a></li>
            </ul>
        </div>
    </li>
    {% endif %}
</ul>
