{% extends "main/base/base.html" %}

{% load i18n %}

{% block title %}{% trans "TEST" %}{% endblock %}

{% block main_content %}
    <h2 class='title_grey'>{% trans "Verifica tu dirección de e-mail" %}</h2>
    <hr>

    <p><h5>{% blocktrans %}Te hemos enviado un email de verificación. Sigue el enlace que incluye para terminar el proceso. Por favor, contáctanos si no recibes el correo en unos minutos.{% endblocktrans %}</h5></p>

{% endblock %}
