#slider{
    height: 50vh;
	margin: 0 auto;
	margin-bottom: 4vh;
}

.slide_image{
    width: 100%;
    height: auto;
    z-index: 0;
}


.slide_txt_left,
.slide_txt_right{
	z-index: 1;
	position: absolute;
	left: 1vw;
	width: 50%;
	font-family: 'bold';
}

.slide_txt_right{
    left: 28vw;
}

.slide_txt_top{ top: 6vh; }

.slide_txt_bottom{ bottom: 6vh; }

.txt_white{ color: #EEEEEE; }

.slide_image:hover{ cursor: pointer; }

.rhino-btn {
	/*background:url(../img/rhinoslider-sprite.png) 0 0 no-repeat;*/
	z-index:10;
	width:56px;
	height:53px;
	display:block;
	text-indent:-999%;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}

.rhino-prev, .rhino-next { bottom:-4px; }

.rhino-prev {
	left:-6px;
	background-position:-168px 0;
}

.rhino-next {
	right:-6px;
	background-position:-106px 0;
}

.rhino-prev:hover { background-position:-168px -53px; }

.rhino-next:hover { background-position:-106px -53px; }

.rhino-toggle {
	top:-4px;
	left:-6px;
}

.rhino-play { background-position:0 0; }

.rhino-play:hover { background-position:0 -53px; }

.rhino-pause { background-position:-56px 0; }

.rhino-pause:hover { background-position:-56px -53px; }

.rhino-container { position:relative; }

.rhino-caption {
	position:absolute;
	background: #000;
	display:none;
	left:0;
	right:0;
	top:0;
	color:#fff;
	padding:10px;
	text-align:right;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}

.rhino-bullets {
	position: absolute;
	bottom: -3px;
	left: 50%;
	margin:0 0 0 -50px;
	z-index: 10;
	background: #fff;
	padding:0;
}

.rhino-bullets:before, .rhino-bullets:after {
	position:absolute;
	display:block;
	left:-16px;
	content:' ';
	width:16px;
	height:26px;
	/*background:url(../img/rhinoslider-sprite.png) -224px 0 no-repeat;*/
}

.rhino-bullets:after {
	left:auto;
	right:-16px;
	background-position: -240px 0;
}

.rhino-bullets li {
	float:left;
	display:inline;
	margin:0 2px;
}

.rhino-bullets li a.rhino-bullet {
	display: block;
	width: 16px;
	height: 15px;
	cursor: pointer;
	background: white;
	font-size: 10px;
	text-align: center;
	padding: 6px 0 5px 0;
	color: #333;
	text-decoration:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}

.rhino-bullets li a.rhino-bullet:hover, .rhino-bullets li a.rhino-bullet:focus {
	color:#999;
	background:#eee;
}

.rhino-bullets li a.rhino-bullet.rhino-active-bullet {
	color:#fff;
	background:#5cd4e8;
}





/*
    Mobile Menu Core Style
*/

.slicknav_btn { position: relative; display: block; vertical-align: middle; float: right; padding: 0.438em 0.625em 0.438em 0.625em; line-height: 1.125em; cursor: pointer; }
.slicknav_menu  .slicknav_menutxt { display: block; line-height: 1.188em; float: left; }
.slicknav_menu .slicknav_icon { float: left; margin: 0.188em 0 0 0.438em; }
.slicknav_menu .slicknav_no-text { margin: 0 }
.slicknav_menu .slicknav_icon-bar { display: block; width: 1.125em; height: 0.125em; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188em }
.slicknav_nav { clear: both }
.slicknav_nav ul,
.slicknav_nav li { display: block }
.slicknav_nav .slicknav_arrow { font-size: 0.8em; margin: 0 0 0 0.4em; }
.slicknav_nav .slicknav_item { display: block; cursor: pointer; }
.slicknav_nav a { display: block }
.slicknav_nav .slicknav_item a { display: inline }
.slicknav_menu:before,
.slicknav_menu:after { content: " "; display: table; }
.slicknav_menu:after { clear: both }
/* IE6/7 support */
.slicknav_menu { *zoom: 1 }

/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/

.slicknav_menu {
  font-size: 16px;
}
/* Button */
.slicknav_btn {
  margin: 5px 5px 6px;  
  text-decoration:none; 
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); 
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;  
  background-color: #222222;
}
/* Button Text */
.slicknav_menu  .slicknav_menutxt { 
  color: #FFF;
  font-weight: bold;  
  text-shadow: 0 1px 3px #000;  
}
/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
  background-color: #f5f5f5;
}

.slicknav_nav {
  color:#fff;
  margin:0; 
  padding:0;
  font-size:0.875em;
}
.slicknav_nav, .slicknav_nav ul {
  list-style: none;
  overflow:hidden;
}
.slicknav_nav ul {
  padding:0;
  margin:0 0 0 20px;
}
.slicknav_nav .slicknav_item {
  padding:5px 10px;
  margin:2px 5px;
}
.slicknav_nav a{
  padding:5px 10px;
  margin:2px 5px;
  text-decoration:none;
  color:#3D3D3D;
}
.slicknav_nav .slicknav_item a {
  padding:0;
  margin:0;
}
.slicknav_nav .slicknav_item:hover {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background:#ccc;
  color:#fff; 
}
.slicknav_nav a:hover{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background:#3D3D3D;
  color:#EEE;
}
.slicknav_nav .slicknav_txtnode {
     margin-left:15px;   
}



/* -------------------------------------------------------------------------- */
/* Media queries ------------------------------------------------------------ */

@media only screen and (max-width: 900px){
    h3.slide_txt_right,
    h3.slide_txt_left{
    	font-size: 1.2em; 
        top: 6vh;
    }

    h3.slide_txt_right{ left: 33vw; }
    h3.slide_txt_bottom{ top: 17vh; }
}

@media only screen and (max-width: 500px){
    h3.slide_txt_right,
    h3.slide_txt_left{
        font-size: 0.9em;
        top: 6vh;
    }

    h3.slide_txt_right{ left: 45vw; }
    h3.slide_txt_bottom{ top: 11vh; }
}
