
@font-face {
	font-family: 'UniversLTStd-BoldCn';
	src: url('UniversLTStd-BoldCn.eot?') format('eot'), 
	     url('UniversLTStd-BoldCn.otf')  format('opentype'),
	     url('UniversLTStd-BoldCn.woff') format('woff'), 
	     url('UniversLTStd-BoldCn.ttf')  format('truetype'),
	     url('UniversLTStd-BoldCn.svg#UniversLTStd-BoldCn') format('svg');
}
