{% extends 'main/base/base.html' %}
{% load i18n %}

{% block author %}TEST{% endblock %}
{% block description %}TEST{% endblock %}
{% block keywords %}TEST{% endblock %}
{% block title %}{% trans "TEST" %}{% endblock %}

{% block main_content %}
    {% if post %}
        <h2 class='title_grey'>{% trans "Empresas" %}</h2>
        <hr>
        {% if validation_error.0 %}
            <h2>{{ validation_error.0 }}</h2>
        {% else %}
        <h2>
            {% blocktrans %}Gracias por ponerse en contacto con nosotros en nombre de {{ company }}. Le responderemos a la mayor brevedad.{% endblocktrans %}
        </h2>
        {% endif %}
    {% else %}
    {% if company %}
        <h2 class='title_grey'>{{ company.name }}{% trans " : Ofertas de empleo " %}</h2>
        <hr>
        {% for i in positions %}
        <h3 class='bold position'>
            <a href='{% url "position" position=i.name_id id=i.id %}'>
            {{ i.name }} {% if i.city %}&nbsp;- &nbsp;({{ i.city }}){% endif %}
            </a>
        </h3>
        <h6 class='position'>{{ i.description|linebreaksbr }}</h6>
        {% endfor %}
    {% else %}
        <h2 class='title_grey'>{% trans "Empresas" %}</h2>
        <hr>
        <h2 class='left'>
            {% blocktrans with site.name as website %}Cubra rápidamente sus necesidades de personal. Localize los mejores candidatos para su empresa en {{ website }}.{% endblocktrans %}
        </h2>
        <h2 class='left'>{% trans "En estos momentos estamos completando nuestra base de datos. Rellene el siguiente formulario y pronto le contactaremos:" %}
        <form id='company_form' method='POST' action='#'>{% csrf_token %}
            <label class='label_box' for='name'>{% trans "Nombre de la empresa" %}</label>
            <input id='name' class='input_box' type='text' maxlength='150'
                name='name' required />
            <label class='label_box' for='contact'>{% trans "Persona de contacto" %}</label>
            <input id='contact' class='input_box' type='text' maxlength='150'
                name='contact' required />
            <label class='label_box' for='contact_email'>{% trans "E-mail de contacto" %}</label>
            <input id='contact_email' class='input_box' type='email' name='contact_email' required />
            <label class='label_box' for='comments'>{% trans "Comentarios" %}</label>
            <textarea id='comments' class='input_box' name='comments' placeholder='{% trans "Háblenos de su empresa y sus necesidades para adaptarnos mejor a sus requisitos." %}'></textarea>
            <input type='hidden' name='site' value='{{ site }}' />
            <input class='form_button' type='submit' value='>'/>
        </form>
    {% endif %}
    {% endif %}
{% endblock %}
