{% extends 'main/base/base.html' %}
{% load i18n %}

{% block author %}TEST{% endblock %}
{% block description %}TEST{% endblock %}
{% block keywords %}TEST{% endblock %}
{% block title %}{% trans "TEST" %}{% endblock %}

{% block main_content %}
    {% if positions|length %}
    <h2 class='title_grey'>
        {% trans "Ofertas de trabajo" %}{% blocktrans with positions|length|pluralize as plural and positions|length as number%} ({{ number }} oferta{{ plural }}){% endblocktrans %}
    </h2>
    <hr>
    {% for i in positions %}
        <h3 class='bold position'>
            <a href='{% url "position" position=i.name_id id=i.id %}'>{{ i.name }} {% if i.city %}&nbsp;- &nbsp;({{ i.city }}){% endif %}</a>
        </h3>
        <h5 class='position'>
            <a href='{% url "company_positions" company=i.company.name_id %}'>{{ i.company }}</a>
        </h5>
        <h6 class='position'>{{ i.description|linebreaksbr }}</h6>
    {% endfor %}
    {% else %}
        {% if detail %}
        <h2 class='title_grey'>{{ position.name }}</h2>
        <hr>
        <h3 class='bold'>{% trans "Empresa: " %}<span class='book'>{{ position.company }}</span></h3>
        {% if position.city %}
        <h3 class='bold'>{% trans "Ciudad: " %}<span class='book'>{{ position.city }}.</span></h3>
        {% endif %}
        <h3 class='bold' style='margin-bottom: 0;'>{% trans "Descripción:" %}</h3>
        <h3 style='margin-left: 2vw;'>{{ position.description|linebreaksbr }}</h3>
        <h3 class='bold'>{% trans "Experiencia requerida: " %}<span class='book'>{{ position.experience }} año{{ position.experience|pluralize }}.</span></h3>
        {% if position.minimum_training %}
        <h3 class='bold'>{% trans "Formación mínima: " %}<span class='book'>{{ position.minimum_training }}.</span></h3>
        {% endif %}
        {% if position.salary %}
        <h3 class='bold'>{% trans "Salario: " %}<span class='book'>{{ position.salary }} {{ position.currency }}.</span></h3>
        {% endif %}
        {% if position.contract %}
        <h3 class='bold'>{% trans "Contratación: " %}<span class='book'>{{ position.contract }}.</span></h3>
        {% endif %}
            <div id='signup' style='margin-top: 5vh;'>
            {% if user.is_authenticated %}
                <a class='form_button_big' href='{{ position.url }}'>{% trans "Inscribirme en la oferta" %}</a>
            {% endif %}
            </div>
        {% else %}
        <h2 class='title_grey'>{% trans "Ofertas de trabajo" %}</h2>
        <hr>
        <h2>{% trans "Sin resultados" %}.</h2>
        {% endif %}
    {% endif %}

    {% if not user.is_authenticated %}
    <div id='signup'>
        <button class='signup_button fade_open'>{% trans "Regístrate" %}</button>
    </div>
    {% endif %}
{% endblock %}
